<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark-modified">
		{{#foreach navigation}}
				<a href="{{url absolute="true"}}" class="mdl-layout__tab 	{{#if current}} is-active{{/if}}">{{label}}</a>
		{{/foreach}}
				<a href="http://pdubs.xyz/subscribe/" title="S'abonner"><button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add">
				<i class="material-icons" role="presentation">add_alert</i><span class="visuallyhidden">Add</span></button></a>
			</div>
